In [277]:
from datawrapper import Datawrapper

In [514]:
import pandas as pd

In [282]:
dw = Datawrapper("14dpifWqozZjtu2SfZCNik8uSuGczE4Szuf3RnNLXYTjkdbGwgjbiRBfe21VYBBX")

In [539]:
df = pd.read_excel('Natural_Science_Dataset.xlsx')
df.drop_duplicates(inplace = True)

In [540]:
df.head()

,LOCATION,Country,POLLUTANT,Pollutant,MEASURE,Measure,FLIGHT,Flight type,FREQUENCY,Frequency,SOURCE,Source of emissions,SEASONALITY,Seasonality,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2015,2015,7.351698e+06,NaN,NaN
1,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2016,2016,7.415273e+06,NaN,NaN
2,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2017,2017,7.333902e+06,NaN,NaN
3,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2018,2018,7.320473e+06,NaN,NaN
4,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2019,2019,7.756780e+06,NaN,NaN

In [639]:
#takes an input of a country--graphs average co2 emissions per flight by year from 2015 to 2022
def makegraph(df) -> str:  
    country = input("Input a country: ")  # Changed to colon
    country_df = df["Country"].str.contains(country) & df[
        "Source of emissions"
    ].str.contains("operated by a resident airline of country A")
    
    country_rows = df.loc[country_df, ['Time', 'Value']].groupby('Time').mean()

#if statement written by chatgpt
    if country_rows.empty:
        print("No data found for the specified country.")
        return None
        
#first 8
    #terms in dataset correspond to times mapped to years 2015-2022 rather than to monthly or quarterly times
    country_data = country_rows['Value'].head(8)
    country_data = country_data.reset_index()

#makes graph!
    chart_config = dw.create_chart(
        title=(country + ": Mean Carbon dioxide emissions per flight (in Tonnes)"),
        chart_type="column-chart",
        data=country_data,)

    chart_id = chart_config["id"]
    dw.update_description(chart_id,
    source_name="OECD Data Explorer - Air transport CO2 emissions (experimental)",)
    dw.publish_chart(chart_id)
    return chart_id

In [702]:
dw.display_chart(makegraph(df))

Input a country:  Switzerland

In [703]:
dw.display_chart(makegraph(df))

Input a country:  Iceland

In [704]:
dw.display_chart(makegraph(df))

Input a country:  United States

In [705]:
#takes an input of a country, returns the difference (as integer) between the average co2 emissions per flight in 2022 and 2015
def bigloser(country:str) -> float:  
    country_df = df["Country"].str.contains(country) & df[
        "Source of emissions"
    ].str.contains("operated by a resident airline of country A")
    
    country_rows = df.loc[country_df, ['Time', 'Value']].groupby('Time').mean()

#if statement written by chatgpt
    if country_rows.empty:
        print("No data found for the specified country.")
        return None

    country_data = country_rows['Value'].head(8)
    country_diff=int(country_data.iloc[7]-country_data.iloc[0])

    return country_diff

In [718]:
#accepts input from bigloser function, creates bar plot comparing the improvements/lack thereof by country
def biggestloser() -> str:
    a = int(input("How many countries would you like to compare?"))
    indx = 0
    c = []
    d = []
    while (indx < a):
        b = input("Name a country")
        d.append(b)
        c.append(bigloser(b))
        indx += 1

    df = pd.DataFrame(columns=['Country', 'Emissions'])
    df = pd.DataFrame(d,c)
    df = df.reset_index()

    chart_config = dw.create_chart(
        title=("Who's the biggest loser?"),
        chart_type="d3-bars-stacked",
        data=df,
    )

    chart_id = chart_config["id"]
    dw.update_description(chart_id,
    source_name="OECD Data Explorer - Air transport CO2 emissions (experimental)",
    intro="Increase in countries' domestic airlines' mean CO2 emissions per flight (in Tonnes) from 2015 to 2022",)
    dw.publish_chart(chart_id)
    return chart_id

In [719]:
dw.display_chart(biggestloser())

How many countries would you like to compare? 30
Name a country United States
Name a country United Kingdom
Name a country China
Name a country Indonesia
Name a country Finland
Name a country Iceland
Name a country Switzerland
Name a country Germany
Name a country Zimbabwe
Name a country Kenya
Name a country Tanzania
Name a country Japan
Name a country United Arab Emirates
Name a country Denmark
Name a country Australia
Name a country Spain
Name a country Mexico
Name a country Russia
Name a country Canada
Name a country Brazil
Name a country India
Name a country Argentina
Name a country Algeria
Name a country Kazakhstan
Name a country Pakistan
Name a country Nigeria
Name a country Bangladesh
Name a country Egypt
Name a country Philippines
Name a country Vietnam

No data found for the specified country.