In [277]:
from datawrapper import Datawrapper

In [514]:
import pandas as pd

In [282]:
dw = Datawrapper("14dpifWqozZjtu2SfZCNik8uSuGczE4Szuf3RnNLXYTjkdbGwgjbiRBfe21VYBBX")

In [279]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/lilaanafi/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/lilaanafi/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [399]:
df = pd.read_excel('Natural_Science_Dataset.xlsx')

In [473]:
df.head()

,LOCATION,Country,POLLUTANT,Pollutant,MEASURE,Measure,FLIGHT,Flight type,FREQUENCY,Frequency,SOURCE,Source of emissions,SEASONALITY,Seasonality,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2015,2015,7.351698e+06,NaN,NaN
1,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2016,2016,7.415273e+06,NaN,NaN
2,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2017,2017,7.333902e+06,NaN,NaN
3,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2018,2018,7.320473e+06,NaN,NaN
4,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2019,2019,7.756780e+06,NaN,NaN

In [512]:
def makegraph(df) -> str:  
    country: str = input("Input a country: ")  # Changed to colon
    country_df = df["Country"].str.contains(country) & df[
        "Source of emissions"
    ].str.contains("operated by a resident airline of country A",na="False")
    
    country_rows = df.loc[country_df, ['Time', 'Value']].groupby('Time').mean()

#if statement written by chatgpt
    if country_rows.empty:
        print("No data found for the specified country.")
        return None

    country_data = country_rows['Value'].head(8)
    country_data = country_data.reset_index()

    chart_config = dw.create_chart(
        title=(country + ": Mean Carbon dioxide emissions per flight (in Tonnes)"),
        chart_type="column-chart",
        data=country_data,)
    
    chart_id = chart_config["id"]
    dw.publish_chart(chart_id)
    dw.display_chart(chart_id)
    dw.update_description(chart_id,
    source_name="OECD Data Explorer - Air transport CO2 emissions (experimental)",)

    return chart_id

In [511]:
makegraph(df)

Input a country:  United States

'h4aqD'

In [509]:
dw.display_chart("aR3Xv")